name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 * * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs: #https://music.youtube.com/playlist?list=PLpHlVT9s_M-uf_bFxsxut9KbDx5voOmVS&feature=share
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: General metrics
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/general.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header
          config_order: base.header, isocalendar, languages
          #isoCalendar
          plugin_isocalendar: yes
          #languages
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_sections: most-used, recently-used
          plugin_languages_analysis_timeout: 15
          
      - name: Youtube Music - Random track from playlist
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/music.svg
          token: NOT_NEEDED
          base: ""
          plugin_music: yes
          plugin_music_playlist: >- 
            https://music.youtube.com/playlist?list=PLpHlVT9s_M-uf_bFxsxut9KbDx5voOmVS&feature=share
          
      - name: Detailed display
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/achivementMetrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_achievements: yes
          
      - name: anime, manga and character
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/anime.svg
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites, watching, characters
          plugin_anilist_limit_characters: 22
          plugin_anilist_limit: 5
          
      - name: GitHub Skyline
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/skyline.svg
          token: NOT_NEEDED
          base: ""
          plugin_skyline: yes
          plugin_skyline_year: 2021
          plugin_skyline_frames: 480
          plugin_skyline_quality: 1
          
          
      
            
